<% content_for :body_class, 'bg-light' %>

<section class="section instrument-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @instrument.title %></h1>

      <ul class="pv1">
        <% if @instrument.brand? %>
        <li class="inline-block pr3"><%= @instrument.brand %></li>
        <% end %>

        <li class="inline-block pr3"><%= @instrument.model %></li>

        <% if @instrument.condition? %>
        <li class="inline-block pr3"><%= @instrument.condition %></li>
        <% end %>
      </ul>

      <div class="feature-image">
        <%= image_tag(@instrument.image_url(:thumb)) %>
      </div>

      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4">Description</h3>
      <%= @instrument.description %>


      <h3 class="subtitle is-4 pt5">Product Specs</h3>

      <table class="table is-narrow">
        <% if @instrument.condition %>
        <tr>
          <td class="has-text-weight-bold">Condition:</td>
          <td><%= @instrument.condition %></td>
        </tr>
        <% end %>

        <% if @instrument.finish %>
          <tr>
            <td class="has-text-weight-bold">Finish:</td>
            <td><%= @instrument.finish %></td>
          </tr>
        <% end %>

        <% if @instrument.brand %>
          <tr>
            <td class="has-text-weight-bold">Brand:</td>
            <td><%= @instrument.brand %></td>
          </tr>
        <% end %>

        <tr>
          <td class="has-text-weight-bold">Model:</td>
          <td><%= @instrument.model %></td>
        </tr>

        <tr>
          <td class="has-text-weight-bold">Quality of product:</td>
          <td><% if current_user %>
            <%= rating_for @instrument, 'Quality',star: 10, disable_after_rate: true %>
          </td>
          <% end %>
        </tr>
      </table>
      <p>Comments</p>
      <br>
      <% if has_comments(@instrument.id) %>      
          <% @comment=show_comments(@instrument.id) %>
            <table>
              <% @comment.each do |c| %>
              <tr>
              <td class="has-text-weight-bold"><%= c.username%></td>
              <td><%= c.comment%></td>
            <%end%>
            </table>
          <% end %>
    </div>
    </div>

    
      
    
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-5 has-text-centered"><%= number_to_currency(@instrument.price) %></h4>
        <p class="has-text-centered mb4">Sold by <%= @instrument.user.username %></p>
        <% if user_signed_in? %>
        <%= button_to 'Add to cart',line_items_path(instrument_id: @instrument),class: 'button is-warning add-to-cart' %>
        <%= link_to 'Comments', new_comment_path(instrument_id: @instrument) , class: "navbar-item button is-dark" %>
        <%= link_to 'Add Comment', "#", :id=>"new_comment" ,class: 'button is-warning add-to-cart'%>
        <div id="new_comment_form">
            <%= render 'form_comment', instrument: @instrument, username: current_user.username %>   
       </div>
        
    </div>

        <% else %>
        <%= button_to 'Add to cart',new_user_session_path, class:"navbar-item button is-warning" %>
        <% end %>

      </div>
    </div>
  </div>

  <% if instrument_author(@instrument) %>
    <%= link_to 'Edit', edit_instrument_path(@instrument), class: 'button' %>
  <% end %>
</section>